* {
    margin: 0;
}

.fijo {
    display: flex;
    align-items: center;
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 1;
}

.fijo a {
    color: white;
    font-family: Verdana, Geneva, Tahoma;
    font-size: 20px;
    text-decoration: none;
}

.fijo img {
    width: 5.5em;
    margin-left: 0.5em;
}
nav{
 margin-left: auto;
}
.fijo nav a{
    font-size: small;
}
.nav-link.comp{
    text-decoration-color: #198754;
}
.primera {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    text-align: end;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.7em;
    width: auto;
    height: auto;

}

.primera h1 {
    margin: 0 1em 1em;
}

.primera img {
    position: relative;
    width: 100%;
    height: max-content;
    filter: brightness(60%)
}

.textoencima {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    position: absolute;
    top: 20%;
    left: 5%;
    height: 40%;
}

@media (max-width:678px) {
    nav{
        margin-left: auto;
        margin-right: 20%;
       }
       .fijo nav a{
           font-size: small;
       }
   
    .textoencima {
        display: grid;
        grid-template-columns: 1fr 0.8fr 0.2fr;
        grid-template-rows: 1fr;
    }

    .primera p {
        position: relative;
    }

    .primera h1 {
        font-size: medium;
        display: none;
    }

    #boton1,
    #boton2 {
        position: relative;
        font-size: small;
        margin: 0.4rem;
    }

}

@media (max-width:480px) {
    nav{
        margin-left: auto;
        margin-right: 20%;
       }
       .fijo nav a{
           font-size: small;
       }

    .fijo a {
        font-size: small;
    }

    .textoencima {
        display: grid;
        grid-template-columns: 1fr 0.2fr 0.2fr;
        grid-template-rows: 0.5fr 0.5fr;
    }

    .primera p {
        font-size: medium;
        position: relative;
    }

    .primera h1 {
        display: none;
    }

    #boton1,
    #boton2 {
        position: relative;
        font-size: smaller;
        margin: 0.4rem;
        padding: 0.5em;
        width: max-content;
    }

}

.primera .p {
    overflow-y: scroll;
    overflow-y: auto;
    height: 10em;
    width: fit-content;
    margin: 0;

}

.primera button {
    height: 3em;
    color: white;
    font-weight: bold;
    border-radius: 6px;
}

#boton1 {
    background: none;
}

#boton1:hover {
    background-color: white;
    color: black;
}

#boton2 {
    background-color: #198754;
    border-style: hidden;
    margin-right: 1em;
}

#boton2:hover {
    background-color: #1c6e48;
}

.conoceAlos {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 3em 0 3em 0;
    line-height: 1.7em;
    color: black;
    padding: 2%;
}

.oradores {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0.2fr;
}

@media (max-width:678px) {
    .oradores {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.oradores button {
    width: min-content;
    height: min-content;
    margin: 1em 0 1em 0;
    border-radius: 6px;
    border: hidden;
    font-weight: bold;
}

.oradores img {
    width: 20em;
    height: 20em;
    border-radius: 6px;
}

.cuadro {
    border: solid rgb(223, 223, 223);
    border-radius: 6px;
    width: min-content;
}

@keyframes imagen {
    from {
        opacity: 0.2;
    }

    to {
        opacity: 1;
    }
}

.cuadro img:hover {
    animation-name: imagen;
    animation-duration: 3s;
    animation-delay: 0.5s;
    animation-iteration-count: 1;
}

@keyframes cuadrado {
    0% {
        background-color: #4992fd;
        left: 0;
        top: 0;
    }

    25% {
        background-color: #9932e3;
        left: 0;
        top: 0;
    }

    50% {
        background-color: #e432d9;
        left: 0;
        top: 0;
    }

    75% {
        background-color: #1faad8;
        left: 0;
        top: 0;
    }

    100% {
        background-color: #cfdbec;
        left: 0;
        top: 0;
    }

}

.cuadro :hover {
    animation-name: cuadrado;
    animation-delay: 1s;
    animation-duration: 6s;
    animation-iteration-count: 2;
}


.oradores p {
    margin: 1em 0 0 0;
    text-align: left;
}

.java {
    background-color: #ffc107;
}

.react {
    background-color: #4992fd;
}

.bsas {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.2em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;
    background-color: black;
    color: white;
    margin: 1em 0 0 0;
}

.bsas h2,
p {
    margin: 1em 1.5em;
}

.bsas p {
    overflow-y: scroll;
    height: 7.5em;
}

.bsas button {
    background-color: black;
    color: white;
    border-radius: 6px;
    height: 3em;
    font-weight: bold;
    margin: 0 1em 0.1em 5em;
}

.conviertete {
    text-align: center;
    margin-top: 2em;
}

.nomAp {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5em;
    margin: 0 5em 0 5em;
}

.txt {
    margin: 0 5em 1em 5em;
}

.botonn {
    background-color: rgb(158, 235, 71);
    margin: 0 5em 1em 5em;
    border-radius: 6px;
    height: 3em;
    width: 82%;
    color: white;
}

@media (max-width:678px) {
    .nomAp {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.2em;
        margin: 0;
    }

    .txt {
        margin: 0 0 1em 0;
    }

    .botonn {
        display: flex;
        justify-items:center;
        justify-content:space-around;
        height: 2em;
        width: min-content;
        color: white;
    }

}

.foot {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgb(5, 5, 93) 35%, rgb(18, 32, 188) 100%);
    height: 5em;
}

.foot a {
    color: aliceblue;
    text-decoration: none;
    margin: 1em;
    font-size: small;
}

.foot a:hover{
    color: white;
    font-size: medium;
}

@media (max-width:678px) {
    .foot {
        background: rgb(2, 0, 36);
        background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgb(5, 5, 93) 35%, rgb(18, 32, 188) 100%);
        height: auto;
    }

    .foot a {
        display: flex;
        flex-direction: column;
        color: aliceblue;
        text-decoration: none;
        margin: 1em;
        font-size: small;
        height: min-content;
    }
}